<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <form action="/registrofarmaceutico" method="post">
    <input type="text" name="cpf_farmaceutico" placeholder="CPF Farmaceutico">
    <input type="text" name="email_farmaceutico" placeholder="Email Farmaceutico">
    <input type="text" name="nome_farmaceutico" placeholder="Nome Farmaceutico">
    <input type="text" name="senha_farmaceutico" placeholder="Senha Farmaceutico">
    <input type="submit" placeholder="Enviar">
  </form>
</body>

</html>