<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <form action="/registrarconsulta" method="get">
    <button type="submit">Registrar consulta</button>
  </form>
  <form action="/registraratestado" method="get">
    <button type="submit">Registrar atestado</button>
  </form>
  <form action="/registrarreceita" method="get">
    <button type="submit">Registrar receita</button>
  </form>
</body>

</html>