<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <form action="/registrousuario" method="post">
    <label for="login-user-cpf">CPF</label>
    <input type="text" placeholder="Digite seu CPF" id="cpf_medico" name="cpf_usuario" />
    <label for="nome">Nome</label>
    <input type="text" placeholder="Digite Seu Nome" id="nome_medico" name="nome_usuario">
    <label for="login-user-password">Senha</label>
    <input type="password" id="user-password" placeholder="Digite sua senha" id="senha_medico" name="senha_usuario" />
    <label for="email">Email</label>
    <input type="text" placeholder="Digite seu Email" id="email_medico" name="email_usuario">
    <button type="submit">Entre</button>
  </form>
</body>

</html>