<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<form action="/atestadoregistrado" method="post">
  <label for="tempo_atestado">Tempo de Duração do atestado</label>
  <input type="text" placeholder="tempo do atestado" name="tempo_atestado">
  <label for="cpf_usuario">CPF do Paciente</label>
  <input type="text" placeholder="CPF do Paciente" name="cpf_usuario">
  <input type="submit" placeholder="Enviar">
</form>

<body>

</body>

</html>