<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <form action="/registrarmedico" method="get">
    <button type="submit">Registrar Medico</button>
  </form>
  <form action="/registrarusuario" method="get">
    <button type="submit">Registrar Usuario</button>
  </form>
  <form action="/registrarfarmaceutico" method="get">
    <button type="submit">Registrar Farmaceutico</button>
  </form>
</body>

</html>